.messages_container{
    height: 100%;
    display: flex;
    flex-direction: column;

    background-image: url("https://cdn.hipwallpaper.com/i/76/29/SO8gzp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}