.messages_container{
    height: 100%;
    display: flex;
    flex-direction: column;

    background-image: url("https://www.desktop-background.com/p/2013/02/03/525151_mac-os-x-desktop-backgrounds-wallpapers-cave_1440x900_h.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}